
<div *ngIf="gameboard">
  <h3>Opponent's hand</h3>
  <span *ngFor="let card of gameboard.player2.hand">
    [x]
  </span>
  <hr>
  <h3>Opponent's matches</h3>
  <span *ngFor="let matches of gameboard.player2.matches">
    |
    <span *ngFor="let card of matches">
      [{{card.rank}} {{card.suit}}]
    </span>
    |
  </span>
  <hr>
  <div>
    <h3>Deck</h3>
    {{gameboard.deck.length}} cards</div>
  <hr>
  <h3>Your matches</h3>
  <span *ngFor="let matches of gameboard.player1.matches">
    |
    <span *ngFor="let card of matches">
      [{{card.rank}} {{card.suit}}]
    </span>
    |
  </span>
  <hr>
  <h3>Your hand</h3>
  <span *ngFor="let card of gameboard.player1.hand" (click)="requestCardTest(card.rank, 'player2')">
    [{{card.rank}} {{card.suit}}]
  </span>
  <button (click)="drawCardTest()">draw card</button>
</div>